/* Here I am changing the background to by an orange image, as I originally specified in my Design Audit that I wanted a colourful orange background */
html {
	background-attachment: fixed;
	background-image: url(../images/Yellow_and_Orange_Background.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

/* As you'll notice, I set my website width to 1200px. This is what I decided upon in my Design Audit as it was a very standard size, so I stuck with it for this project. I also use white as the main background colour for the center container of the website */
.container {
	background-color: #FFFFFF;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

/* Here I create my column styling. I chose to make two sizes; one that is 66% width, and one that is 34% width to add some intrigue. I feel that it works better, as I placed my images in the wider columns and my text in the narrower columns. I originally was going to use 60% and 40% width (hence the names), but I then changed the widths */
.column_40 {
	width: 34%;
	float: left;
	margin-top: 0px;
}
.column_60 {
	width: 66%;
	float: left;
	margin-top: 0px;
}

/* This is my navigation bar styling, all under 'secondary header'. I used a dark grey, as I had specified in the Design Audit */
.secondary_header {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #414141;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}

/* For the navigation list, I used Helvetica in white */
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Helvetica";
	font-weight: 600;
	font-size: large;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 24%;
	transition: all 0.3s linear;
}

/* The items change to orange when hovered over, making them easy to distinguish as links */
.secondary_header ul li:hover {
	color: #FFA31F;
	cursor: pointer;
}
.left_article {
	background-color: #FFFFFF;
	width: 34%;
	float: left;
	font-family: "Helvetica";
	color: #343434;
}

/* This is for headings that I don't want to display */
.noDisplay {
	display: none;
}

/* below is all the formatting I've done for various sizes of heading text and paragraphs in the left article */
.container .left_article h3 {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 10%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article h4 {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 2%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article h5 {
	padding-bottom: 15px;
	margin-top: 2%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article h1 {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 10%;
	color: #717070;
	font-weight: bold; 
	font-size: xx-large;
}
.container .left_article h2 {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 2%;
	color: #717070;
	font-weight: bold;
	font-size: xx-large;
}
.container .left_article p {
	padding-left: 10%;
	padding-right: 10%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #1E1E21;
}

/* I gave the right article a faint background colour to help distinguish it from the left article */
.right_article {
	width: 66%;
	float: left;
	background-color: #F6F6F6;
}

/* The footer has a nice dark blue colour to set it apart. The padding allows it to be slim, yet noticeable */
.footer {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background-color: #2D3B48;
	clear: left;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Helvetica";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}

/* This is used for placing most of my main images. It gives a small amount of padding so that the images don't look cluttered */
.placeholder {
	width: 95%;
	padding-top: 30px;
	padding-left: 2.5%;
	padding-bottom: 30px;
	height: 95%;
	padding-right: 2.5%;
}

/* I purposely put a margin at the top of my banner image, as I prefer the look. I also put a small margin at the bottom of the image, as I tried it without and found that the transition between the image and the navigation bar (which is dark grey) was hard to spot as it blended together a bit too much, making it look heavy. By adding a margin between the banner image and the nav bar, the orange background shines through and frees it up a bit */
.banner-image {
	width: 1200px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

/* Used specifically for the large image on the index page. Again, a small amount of padding helps give a clean appearance */
.big-image {
	width: 97%;
	padding-top: 20px;
	padding-left: 1.5%;
	padding-bottom: 0px;
	height: 97%;
	padding-right: 1.5%;
}

/* These refer to the small orange boxes above the footer. These could have text placed inside them if necessary, but I perfer the plain aesthetic look of leaving them empty */
.left_half {
	background-color: #FFA926;
}
.right_half {
	background-color: #FFE07B;
	color: #FFFFFF;
	font-family: "Helvetica";
	text-align: center;
	font-weight: bold;
}

.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}

/* As you'll notice, I chose a lighter weight font for the copyright text. It doesn't neet to draw unneccesary attention, so this is suitable */
.copyright {
	text-align: center;
	/* [disabled]background-color: #717070; */
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Helvetica";
}

/* I added just a small amount of padding at the top of the lineup section */
.lineup {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 40px;
}


/* Here I have the formatting for white text that is a navigation link, such as the ones in the navigation bar. They orange when hovered, and don't change after being visited */
a.nav-link:link
{
	color: #FFFFFF;
	text-decoration: none;
}
a.nav-link:visited
{
   color: #FFFFFF;
   text-decoration: none;
}
a.nav-link:hover
{
	color: #FFA31E;
	text-decoration: none;
}
a.nav-link:active
{
   color: #fb3f00;
   text-decoration: none;
   
   
   /* This is all the styling for links that are in black text, such as the ones on the Lineup page. They also change to orange when hovered upon */
}a.nav-link2:link
{
	color: #000000;
	text-decoration: none;
}
a.nav-link2:visited
{
	color: #000000;
	text-decoration: none;
}
a.nav-link2:hover
{
	color: #FFA31E;
	text-decoration: none;
}
a.nav-link2:active
{
   color: #fb3f00;
   text-decoration: none;
}

/* These thumbnails are for the social media icons */
.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}

/* This is the box that the social media icons sit in. Again, I used a dark grey as specified in my Design Audit */
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* The social media icons turn to an opacity of 50% when hovered upon, making it easy to know that they are clickable links */
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
.middle_article {
	width: auto;
}

/* This is the styling for the list used on the lineup page. I played around with the width, height and padding extensively to try and make it look interesting and clean. I wasn't quite able to achieve the desired appearance but I am still happy with it  */
.left_article_ul {
	font-family: "Helvetica";
	list-style: none;
	text-align: left;
	background-color: #FFFFFF;
	width: 77%;
	height: 77%;
	padding-top: 30px;
	padding-bottom:65px;
	color: #2F2F2F;
	font-weight: bold;
	font-size: 18px;
	transition: all 0.3s linear;
	border-left: 15px solid #717070;
	padding-left: 11%;
	padding-right: 0%;
}

/* This is another image placeholder, only being used on the index page (for the "Groovin' the Moo. 2016. All new lineup. Discover the hype" image */
.placeholder_2 {
	width: 108%;
	padding-top: 30px;
	padding-left: 0%;
	padding-bottom: 30px;
	height: 100%;
	padding-right: 4%;
	font-size: x-large;
	text-align: left;
}

/* This is the styling for my videos on the index page and artist pages. I want the videos to take up almost the full width, with just a small amount of padding on either side and on the top and bottom */
.video {
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0px;
	padding-bottom: 20px
}
